<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
	<test thread-count="5" name="Test1">
    <classes>
      <class name="com.qa.crm.test.LoginPageTest"/>
      <class name="com.qa.crm.test.HOmePageTest"/>
    </classes>
  </test> <!-- Test -->
 
</suite> <!-- Suite -->
